[submodule "znry27/open_in_new_tab"]
	path = znry27/open_in_new_tab
	url = git@github.com:znry27/open_in_new_tab.git
	branch = master

[submodule "RLJO/pepindepomme2022"]
	path = RLJO/pepindepomme2022
	url = git@github.com:RLJO/pepindepomme2022.git
	branch = Production

[submodule "VisionSolutions/ebmx15"]
	path = VisionSolutions/ebmx15
	url = git@github.com:VisionSolutions/ebmx15.git
	branch = main
