[submodule "znry27/open_in_new_tab"]
	path = znry27/open_in_new_tab
	url = git@github.com:znry27/open_in_new_tab.git
	branch = master

[submodule "znry27/domain_to_sql"]
	path = znry27/domain_to_sql
	url = git@github.com:znry27/domain_to_sql.git
	branch = master

[submodule "znry27/button_no_save"]
	path = znry27/button_no_save
	url = git@github.com:znry27/button_no_save.git
	branch = main

[submodule "znry27/show_chatter_on_modal"]
	path = znry27/show_chatter_on_modal
	url = git@github.com:znry27/show_chatter_on_modal.git
	branch = 14.0

[submodule "znry27/ngasturi-blog-english"]
	path = znry27/ngasturi-blog-english
	url = git@github.com:znry27/ngasturi-blog-english.git
	branch = master
